html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ecf0f1;
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 14px;
}

body, a {
    color: #424242;
    text-decoration: none;
}

.nav-div {
	padding: 4px 0px;
	font-weight: 700;
}

.card {
	margin: 5px;
}

.card img {
	min-width: 100%;
}

paper-button {
	background: #c0392b;
	color: #ffffff;
	margin: 20px 0;
}

paper-fab {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

/*.card-content {
	background-color: #ecf0f1;
}*/

.card .big {
	font-size: 19px;
	padding: 8px 0 16px;
}

.card .medium {
	font-size: 15px;
	padding-bottom: 8px;
	color: #bdc3c7;
}

section {
	width: 1000px;
	padding: 3px;
}

footer {
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #e0e0e0;
}
